body {
  font-family: Arial;
  padding: 20px;
}

.stats {
  display: flex;
  gap: 20px;
}

.stats div {
  background: #222;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background: #333;
  color: white;
}