.hero{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(to right,#c1121f,#780000);
color:white;
padding:20px;
}

.hero-content{
max-width:700px;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
line-height:1.6;
}

.hero-btn{
background:white;
color:#c1121f;
padding:12px 30px;
border-radius:6px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.hero-btn:hover{
background:#ffd6d6;
}
