body{
    font-family:Arial;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url("../images/reg-log.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.container{
    background:rgba(255,255,255,0.9);
    padding:40px;
    border-radius:10px;
    width:340px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    text-align:center;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:10px;
    background:#c1121f;
    color:white;
    border:none;
    cursor:pointer;
}

.main-menu{
    margin-top:10px;
    font-size:14px;
}

.main-menu a{
    text-decoration:none;
    color:#c1121f;
    font-weight:500;
}

.main-menu a:hover{
    text-decoration:underline;
}