<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <title>
            {% block title %}
                Base
            {% endblock %}
        </title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flash flash-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <header class="navbar">
            <div class="logo">LifeLink</div>
            <nav>
                <!-- href="/home" -->
                <a href="{{ url_for('home.home_page') }}">Home</a>
                <a href="{{ url_for('donor.donor_page') }}">Donors</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('home.profile_page') }}">Profile</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                    <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                {% endif %}
                
            </nav>
        </header>

        <!-- Main Content -->
        <div>
            {% block content %}
            {% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/flash.js') }}"></script>

        {% block extra_js %}
        {% endblock %}

    </body>
</html>