{% extends 'base.html' %}

{% block title %}
    bloodbank_dashboard
{% endblock %}

{% block content %}
    <h1>{{ bloodbank.user.fullname }} dashboard</h1>
    {% if bloodbank.user.is_verified %}
        Verified
    {% else %}
        Not Verified
    {% endif %}
    <h2>{{ bloodbank.district }}, {{ bloodbank.state }}</h2>
    <p>{{ bloodbank.city }}</p>
    <p> {{ bloodbank.user.email }}</p>
    <p> Helpline: {{ bloodbank.helpline_number }}</p>
    <p> License no.: {{ bloodbank.license_number }}</p>


<!-- DONORS -->
 <div class="stats">

    <div class="card">Users: {{ total_users }}</div>
    <div class="card">Donors: {{ total_donors }}</div>
    <div class="card">Blood Banks: {{ total_bloodbanks }}</div>

    <hr>
    <div class="card">Requests: {{ total_requests }}</div>
    <div class="card">Pending: {{ pending_requests }}</div>
    <div class="card">Approved: {{ approved_requests }}</div>
    <div class="card">Rejected: {{ rejected_requests }}</div>
    <div class="card">Cancelled: {{ cancelled_requests }}</div>
    <div class="card">Completed: {{ completed_requests }}</div>

</div>

{% endblock %}