{% extends 'base.html' %}

{% block title %}
    bloodbank_requests
{% endblock %}

{% block content %}
    <h1>{{ bloodbank.user.fullname }} requests</h1>

    <table class="request-table">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Blood Group</th>
                <th>Units</th>
                <th>Contact</th>
                <th>Hospital</th>
                <th>Request date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for req in requests %}
            <tr>
                <td>{{ req.patient_name }}</td>
                <td>{{ req.blood_type }}</td>
                <td>{{ req.quantity_ml }}</td>
                <td>{{ req.contact }}</td>
                <td>{{ req.hospital_name }}</td>
                <td>{{ req.request_date }}</td>
                <td>
                    <span class="status {{ req.status }}">
                        {{ req.status }}
                    </span>
                </td>
                <td>
                    {% if req.status == 'pending' %}
                        <form method="POST" action="{{ url_for('dashboard.bloodbank_requests') }}">
                            <input type="hidden" name="request_id" value="{{ req.id }}">
                            
                                <button type="submit" class="btn approve" name="status" value="Approved">
                                    Approve
                                </button>

                                <button type="submit" class="btn reject" name="status" value="Rejected">
                                    Reject
                                </button>
                        </form>
                    {% elif req.status == 'Approved' %}
                         <form method="POST" action="{{ url_for('dashboard.bloodbank_requests') }}">
                            <input type="hidden" name="request_id" value="{{ req.id }}">
                                <button type="submit" class="btn approve" name="status" value="Completed">
                                    Completed
                                </button>
                                <button type="submit" class="btn cancel" name="status" value="Cancelled">
                                    Cancel
                                </button>
                        </form>
                    {% else %}
                        <button class="btn cancel">N/A</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}