{% extends 'base.html' %}

{% block title %}
    Sign-up
{% endblock %}

{% block content %}
    <form align="center" method="post" action="{{ url_for('auth.sign_up') }}">
        <br>
        <h1>Sign Up</h1><br><br>
        <label>
            <input type="checkbox" id="bloodBankCheck" name="is_blood_bank">
            Register as a Blood Bank
        </label>

        <br><br>

        <label id="nameLabel">Full name:</label><br>
        <input
            autocomplete="off"
            type="text"
            id="fullname"
            name="fullname"
            placeholder="Full name"><br><br>

        <label for="email">Email:</label><br>
        <input
            autocomplete="off"
            type="email"
            id="email"
            name="email"
            placeholder="Enter email"><br><br>

        <div id="bloodBankFields" style="display: none;">
            <label>Helpline Number</label>
            <input type="text" name="helpline" placeholder="Helpline Number">
            <label>License Number</label>
            <input type="text" name="license_number" placeholder="License Number"><br><br>
            
            <!-- ADDRESS -->
            <lable>Address:<br>
            <select name='state' id="state">
                <option value="">Select State</option>
            </select>

            <select name='district' id="district">
                <option value="">Select District</option>
            </select>

            <input type="text" name="city" placeholder="City/Town/Area"><br><br>
            </lable>

        </div><br>

        <label for="password1">Password:</label><br>
        <input
            autocomplete="off"
            type="password"
            id="password1"
            name="password1"
            placeholder="Password"><br><br>
        <label for="password2">Confrim Password:</label><br>
        <input
            autocomplete="off"
            type="password"
            id="password2"
            name="password2"
            placeholder="Confirm password"><br><br>
        <button type="submit">
                Register
        </button>
        <p>Already a memnber? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </form>

<script>
    const checkbox = document.getElementById("bloodBankCheck");
    const fields = document.getElementById("bloodBankFields");
    const label = document.getElementById("nameLabel");
    const input = document.getElementById("fullname");

    checkbox.addEventListener("change", function () {
        if (this.checked) {
            fields.style.display = "block";
            label.textContent = "Name:";
            input.placeholder = "Blood bank name";
        } else {
            fields.style.display = "none";
            label.textContent = " Full Name:";
            input.placeholder = "Full Name";
        }
    });
</script>

<!-- FETCH Location -->
<script>
fetch("/static/data/india_locations.json")
.then(res => res.json())
.then(data => {

    const stateSelect = document.getElementById("state");
    const districtSelect = document.getElementById("district");

    // Load states
    data.forEach((stateObj, index) => {
        stateSelect.innerHTML += `<option value="${stateObj.stateName}">${stateObj.stateName}</option>`;
    });

    // When state changes
    stateSelect.addEventListener("change", () => {
        districtSelect.innerHTML = '<option value="">Select District</option>';

        const selectedState = data.find(
            state => state.stateName === stateSelect.value
        );

        selectedState.districts.forEach(district => {
            districtSelect.innerHTML += `<option value="${district.name}">${district.name}</option>`;
        });
    });

});
</script>

{% endblock %}